* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

header{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    /* border: black solid; */
}

.nav-bar {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
}

.box-logo {
    width:80px;
    height:80px;
}

ul {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.1rem;
}

.box {
    list-style: none;
    /* font-size: 1.6rem; */
    margin: 5px;
    display: flex;
    justify-content: center;  
}

a {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    flex-flow: column wrap;
    margin: 0px 10px 0px 10px;
    justify-content: center;
}

.texto {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /* font-size: 1.5rem; */
}

.title-one {
    font-size: 1.5rem;
}

.nosotros {
    margin: 10px;
    font-size: 1.1rem;
}

.img {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 10px;
}

.img-prin {
    width: 260px;
    height: 150px;
}

.clientes{
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
    align-items: center;
    padding: 0px 20px 0px 20px;
    width: 100%;
    font-size: 1.26rem;
}

.lista-clientes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.box-clientes {
    display: flex;            
}

.img-logo-clientes {
    width: 100px;
    height: 70px;
}

footer {
    background-color: #b1886b;
    display: flex;
    flex-flow: column wrap;    
    width: 100%;
}

.politica {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 10px;
}

.contacto {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 10px;
}